<a
  class="list-group-item clearfix"
  style="margin-bottom: 10px; cursor: pointer"
  [routerLink]="[index]"
  routerLinkActive="active"
>
  <div class="box">
    <div style="margin-right: 20px">
      <h4 class="list-group-item-heading">{{ recipe.title }}</h4>
      <p class="list-group-item-text">
        Preparation time: {{ recipe.preparationTime }}
      </p>
    </div>
    <div style="align-self: center; margin-left: auto">
      {{ recipe.difficulty | titlecase }}
    </div>
  </div>
</a>
